PORT=3001

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=fuera_de_linea
DB_USER=fdl_app
DB_PASSWORD=REPLACE_WITH_APP_PASSWORD

TEST_DB_HOST=127.0.0.1
TEST_DB_PORT=3306
TEST_DB_NAME=fuera_de_linea_test
TEST_DB_USER=fdl_test
TEST_DB_PASSWORD=REPLACE_WITH_TEST_PASSWORD
